@import url("normalize.css");
@import url("reset.css");

.main {
    padding: 150px 20dvw;
}

.main__centrodeayuda {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    font-family: sans-serif;
    color: #121212;

    & .main__frase01 {
        font-size: 36px;
        font-weight: 700;
        width:70%;
        align-self: start;
    }
    & .main__frase02 {
        font-size: 32px;
        font-weight: 300;
        width:70%;
        align-self: end;
    }
    & .main__frase03 {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        width:70%;
        align-self: center;
    }
    & .main__boton {
        border-radius: 10px;
        background: #86dbff;
        padding: 10px;
        color: white;
        text-decoration: none;
    }
}




