.cookie-controls {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 1rem;
}

.radio-control {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.radio-control input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 50%;
    outline: none;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.radio-control input[type="radio"]:checked {
    background-color: #fff;
    border-color: #000;
}

.radio-control input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-label {
    font-size: 1rem;
    color: #333;
}

/* Estilos para el hover */
.radio-control:hover input[type="radio"] {
    border-color: #000;
}

/* Estilos para el focus para accesibilidad */
.radio-control input:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

body {
    height: 100dvh;
}

header,
main,
footer {
    overflow: hidden;
    filter: blur(5px);
}

/* Footer Styles */
section.cookie-preferences {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(203, 203, 203, 0.31);
}
.cookies-form {
    position: absolute;
    z-index: 1;
    top: calc(50% - (70dvh / 2));
    left: calc(50% - (30dvw / 2));
    border-radius: 20px;
    height: 70dvh;
    width: 30dvw;
    padding: 2rem 2rem 0 2rem;
    background-color: rgb(250, 250, 250);
    /* activar la barra de scroll */
    overflow-y: scroll;
    /* eliminar la visión del scroll */
    scrollbar-width: none;
}
.footer_buttons {
    padding: 2rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    position: sticky;
    bottom: 0;
    background-color: rgb(250, 250, 250);
}

button {
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 1rem;
}

/* ANULAR cualquier LINK */
.desactivado {
    color: white;
    /* anular el clic de los link */
    pointer-events: none;
    cursor: default;
    filter: blur(3px);
    /* color a el texto que subrayamos */
}
::selection {
    background-color: transparent;
}
